body {
	margin: 0px;
	background-color: black;
	overflow: hidden;
	font-family: 'Arimo', sans-serif;
}

div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

p {
	margin: 0;
}

a:visited {
    color: #000000;
}

a:hover {
    color: gray;
}


#bg, #leftblur, #rightblur {
	height: 100vh;
	background-position: center center;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;

    animation: fadein 3s;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */

    z-index: 10;
}

#leftblur, #rightblur {
	position: absolute;
	top: 0px;
 	right: 0px;
 	bottom: 0px;
 	left: 0px;
 	height: 100%;

 	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);

	z-index: 50;
}

#leftcirc {
	position: fixed;
	left: 0;
	top: 0;
	opacity: 1;
	margin: 20px;
	border: 1px solid white;
	border-radius: 50%;

	-webkit-transition: width 3s ease-in-out, height 3s ease-in-out;
	-moz-transition: width 3s ease-in-out, height 3s ease-in-out;
	-o-transition: width 3s ease-in-out, height 3s ease-in-out;
	transition: width 3s ease-in-out, height 3s ease-in-out;

	z-index: 60;	
}

#leftcirc[data-state=preload] {
	background-color: rgba(255,255,255,0);
	height: 400px;
	width: 400px;
}

#leftcirc[data-state=closed] {
	background-color: rgba(255,255,255,0);
	height: 15px;
	width: 15px;
}

#leftcirc[data-state=open] {
	background-color: rgba(255,255,255,1);
	height: 15px;
	width: 15px;	
}

#leftpanel {
	position: fixed;
	display: block;
	left: 0;
	width: 13%;
	height: 95%;
    padding: 1px;
    border: 1px;
    margin: 12px;

	z-index: 20;
}

#leftpanel[data-state=closed] {
	opacity: 0;

	-webkit-animation: fadeout 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 1.5s; /* Firefox < 16 */
    -ms-animation: fadeout 1.5s; /* Internet Explorer */
    -o-animation: fadeout 1.5s; /* Opera < 12.1 */
    animation: fadeout 1.5s;
}

#leftpanel[data-state=open] {
	display: inherit;

	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}

#leftpanel[data-state=preload] {
	display: none;
}

#leftwhitebox {
	position: relative;
	display: block;
	background: white;
	opacity: 0.6;
	height: 100%;
	padding: 10px;
	margin: 1px;
	border: 1px;
	overflow: hidden;

	z-index: 70;
}

#leftcontent {
	position: relative;
	display: block;
	height: 98%;
	padding: 5px;
	margin: 5px;
	border: 1px;
	overflow: auto;

	z-index: 80;
}

#rightcirc {
	position: fixed;
	right: 0;
	top: 0;
	opacity: 1;
	margin: 20px;
	border: 1px solid white;
	border-radius: 50%;

	-webkit-transition: width 3s ease-in-out, height 3s ease-in-out;
	-moz-transition: width 3s ease-in-out, height 3s ease-in-out;
	-o-transition: width 3s ease-in-out, height 3s ease-in-out;
	transition: width 3s ease-in-out, height 3s ease-in-out;

	z-index: 61;	
}

#rightcirc[data-state=preload] {
	background-color: rgba(255,255,255,0);
	height: 400px;
	width: 400px;
}

#rightcirc[data-state=closed] {
	background-color: rgba(255,255,255,0);
	height: 15px;
	width: 15px;
}

#rightcirc[data-state=open] {
	background-color: rgba(255,255,255,1);
	height: 15px;
	width: 15px;	
}
#rightpanel {
	position: fixed;
	display: block;
	right: 0;
	width: 40%;
	height: 95%;
    padding: 1px;
    border: 1px;
    margin: 12px;

	z-index: 21;
}

#rightpanel[data-state=closed] {
	opacity: 0;

	-webkit-animation: fadeout 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 1.5s; /* Firefox < 16 */
    -ms-animation: fadeout 1.5s; /* Internet Explorer */
    -o-animation: fadeout 1.5s; /* Opera < 12.1 */
    animation: fadeout 1.5s;
}

#rightpanel[data-state=open] {
	display: inherit;

	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}

#rightpanel[data-state=preload] {
	display: none;
}

#rightwhitebox {
	position: relative;
	display: block;
	background: white;
	opacity: 0.6;
	height: 100%;
	padding: 10px;
	margin: 1px;
	border: 1px;
	overflow: hidden;

	z-index: 71;
}

#rightcontent {
	position: relative;
	display: block;
	height: 98%;
	padding: 5px;
	margin: 10px;
	border: 1px;
	overflow: auto;

	z-index: 81;
}

#linkheader {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}

#imglinkholder {
	margin-top: 30px;
	text-align: center;
	font-size: 80%;
	line-height: 160%;
}

#titleholder {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}

#postholder {
	margin-top: 30px;
	font-size: 80%;
	line-height: 160%;
}

#exifholder {
	margin-top: 30px;
	font-size: 80%;
	line-height: 160%;
}

#disqus_thread {
	margin-top: 30px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}